@font-face {
  font-family: "fontawsome";
  src: url("fonts/fontawesome-webfont.ttf");
}
@font-face {
  font-family: "iransans";
  src: url("fonts/IRANSans_Medium.ttf");
}

@font-face {
  font-family: 'iransansregular';
  src: url("fonts/IRANSansWeb.ttf");
}


/* css reset  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end css reset  */


a{
    text-decoration: none;
}
li {
    list-style: none;
}

ul{
    /*bootstrap give 20 px padding right */
    padding-right: 0;
}
body{
    font-family: "iransans";
    font-size: 16px;
}
.header-site {
    width: 100%;
    height: 60px;
    background: #010121;
    color: #fff;
  
}
.logo {
    font: 1.3em sans-serif;
    position: relative;
    bottom: 5px;
}
.menu-icon , .search-icon {
    font-size: 25px;
    position: relative;
    bottom: 4px;
}

.search-icon img {
    width: 25px;
}
.menu {
    width: 290px;
    height: 100%;
    background: #010121;
  position:absolute;
  right: -330px;
  top :61px;
}
.active-menu {
    right: 0px;
}
nav.menu ul li a {
    color: #dbd8d8;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #ffffffdf;
    font-size: 14px;

}
/*nav.menu ul li a:first-child{ }*/

 

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 7px 0;

  }

  .change .bar1 {
    transform: translate(0, 5px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -13px) rotate(45deg);
  }
.search {
    width: 100%;
    background: #010121;
    border-top: 1px solid #ffffffdf;
    padding: 2px;
    display: none !important;
    z-index: 1;
    position: relative;
}
  .search-input {
    width: 86%;
    margin-right: 2px;
    padding: 3px;
  }
  .search-input > input {

    border-radius : 4px;
   border:0;
 display: block;
 width: 100%;
 height: 40px;
    font-size: 12px;
    background: #fdfdfd;
    padding-right: 10px !important;

  }
  .search button {
    font-size: 12px;
    margin-right: 12px !important;
    padding: 0 15px;
    border-radius: 10px;
    margin: 5px;

}
.search button img {
  width: 19.5px;

}

.active-search {
  display: flex !important;
}



.main {
  width: 98%;
  margin: 0 auto;
  height: 600px;
}

/* ---start footer---  */

.footer-site{
  width: 100%;
  background: #000;
  border-radius: 3% 3% 0 0;
}

.footer-site .social-link-header{
  padding: 1rem!important;
    padding-top: 20px !important;
    padding-bottom: 12px !important;
}
.footer-site .social-link {
  margin: 0 auto;
  width: 230px;
  padding: 10px 20px;
  padding-top: 15px;
}
.footer-site .social-link span img {
width: 33px;
height: 33px;
}
.footer-artist{
  color: #ffffffe0;
}

.footer-artist{
  padding-top: 15px;
  position: relative;
}

.footer-artist {
  padding: 5px 10px 15px;
    font-size: 15px;
    position: relative;
}
.footer-artist p{
  padding: 1rem!important;
  padding-top: 20px !important;
  padding-bottom: 15px !important;
  font-size: 14px;
}

.footer-artist p::after {
content:"";
position: absolute;
border: 1px solid #ffffffb0;
width: 69%;
margin: 8px 13px 8px 8px;
}
.footer-artist ul{

}
.footer-artist ul li {

}

.footer-artist ul li a {
  color: #ffffffe0;
  font-size: 12px;
  display: block;
  width: 47.9%;
  float: right;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 5px;
  background: #191919;

position: relative;


}


.footer-artist ul li a span {
  background: #000000cd;
  position: absolute;
  padding: 8px;
  left: 10px;
  top: 6.5px;
  border-radius: 30%;

}
.about-us-footer p{
  color: #ffffffd4;
  font-size: 13.5px;
  line-height: 2.1;
  font-family: 'iransansregular';
  margin-bottom: 10px !important;
  margin: 0 9px;
}

.end-footer p {
  font-size: 12px;
  color: #ffffffd4;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  border-top: 1px solid #ffffffc4;
}
.contact-us-footer{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 5px 0;
}
.contact-us-footer i {
  color: #ffffffc6;
  font-size: 16px;
  padding-left: 20px;
}
.contact-us-footer i span {
font-family: "iransans";
font-size: 15px;

}

.phon {
  position: relative;
  bottom: 1px;
}
/* ---end footer---  */
